<div class="wrapper">
    <div class="back">
        <button mat-icon-button (click)="back()">
            <i class="fa fa-long-arrow-left fa-lg" aria-hidden="true"></i>
        </button>
        <div class="table">table of content</div>
    </div>

    <div class="link_first_container">
        <div class="multiple_pay_p">
            <div class="multiple_pay" #card2>
                <div class="point_hand_img">
                    <img src="assets/images/hand.png" alt="">
                </div>
                <div class="multiple_text">
                    <div class="multiple_first">Student Handbook</div>
                    <div class="multiple_second">Table of content</div>
                    <div class="multiple_third">
                        <button mat-button>HANDBOOK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="real_time" #card3>
            <img src="assets/images/undraw_real_time_collaboration_c62i1.png" class="real_time_img" alt="">
        </div>
    </div>

    <div class="header2">
        <div class="search_icon_p">
            <form class="search-form">
                <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search..." class="input">
            </form>
        </div>
    </div>

    <div class="card-p">
        <div *ngIf="loading" class="loader">
            <div class="lds-ripple">
                <div></div><div></div>
            </div>
        </div>
        
        <div *ngIf="!loading">
            <div class="card" *ngFor="let data of datas;" (click)="next(data)">
                <div>
                    <button mat-icon-button>
                        <span class="material-icons-round">article</span>
                    </button>
                </div>
                <div [class.bold]="data.is_bold == true" [class.capitalize]="data.is_capital_letter == true"
                [class.italic]="data.is_italic == true">{{ data?.chapter }}</div>
            </div>
        </div>
    </div>

</div>
