<div class="wrapper">
    <div class="back">
        <button mat-icon-button (click)="back()">
            <span class="material-icons-round">clear</span>
        </button>
        <div class="table" [class.bold]="datas.is_bold == true" 
            [class.capitalize]="datas.is_capital_letter == true" 
            [class.italic]="datas.is_italic == true">{{ datas?.name }}</div>
    </div>

    <div class="chapter">
        <div class="chapter-pp" *ngIf="prevData" (click)="next(prevData)">
            <span class="material-icons-round">arrow_back</span>
            {{ limit(prevData?.name || '', 15) }}
        </div>
        <div class="chapter-pp" *ngIf="nextData" (click)="next(nextData)">
            {{ limit(nextData?.name || '', 15) }}
            <span class="material-icons-round">arrow_forward</span>
        </div>
    </div>

    <div class="title" [class.bold]="datas.is_bold == true" 
        [class.capitalize]="datas.is_capital_letter == true" 
        [class.italic]="datas.is_italic == true">{{ datas?.name }}</div>

    <div
        *ngFor="let data of datas.content; let index=index">
        <!-- paragraph -->
        <div class="body" *ngIf="data.is_paragraph">
            <div class="paragraph">
                <div class="para-title" [class.capitalize]="data.is_capital_letter == true" 
                [class.italic]="data.is_italic == true" [class.center]="data.is_center == true"
                 [class.bold]="datas.is_bold == true">{{ data?.title }}</div>
                <div class="para-sub-title" [class.capitalize]="data.is_capital_letter == true" 
                [class.italic]="data.is_italic == true" [class.center]="data.is_center == true" 
                [class.bold]="datas.is_bold == true">{{ data?.sub_title }}</div>
                <div class="para-body" [class.capitalize]="data.is_capital_letter == true" 
                [class.italic]="data.is_italic == true" [class.center]="data.is_center == true" 
                [class.bold]="datas.is_bold == true">{{ data?.body }}</div>
            </div>
        </div>

        <!-- list -->
        <div class="body" *ngIf="data.is_list">
            <div class="list">
                <div class="para-title" [class.capitalize]="data.is_capital_letter == true" 
                [class.italic]="data.is_italic == true" [class.center]="data.is_center == true"
                [class.bold]="datas.is_bold == true">{{ data?.title }}</div>
                <div class="para-sub-title" [class.capitalize]="data.is_capital_letter == true" 
                [class.italic]="data.is_italic == true" [class.center]="data.is_center == true"
                [class.bold]="datas.is_bold == true">{{ data?.sub_title }}</div>
                <div class="para-body">{{ data?.body }}</div>

                <div *ngIf="!data?.list_contents[0].is_border;">
                    <div *ngFor="let l of data?.list_contents;">
                        <div class="list-content">
                            <div class="list-number">{{ l?.number }}</div>
                            <div class="list-number-content" 
                            [class.capitalize]="l.is_capital_letter == true" 
                            [class.italic]="l.is_italic == true" 
                            [class.center]="l.is_center == true"
                            [class.bold]="l.is_bold == true">{{ l?.name }}</div>
                        </div>
                    </div>
                </div>
                
                <!--  -->
                <div *ngIf="data?.list_contents[0].is_border;">
                    <div class="list-content2">
                        <div *ngFor="let l of data?.list_contents;">
                            <div class="list-number">{{ l?.number }}</div>
                            <div class="list-number-content" 
                            [class.capitalize]="l.is_capital_letter == true" 
                            [class.italic]="l.is_italic == true" 
                            [class.center]="l.is_center == true"
                            [class.bold]="l.is_bold == true">{{ l?.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sub content -->
        <div class="body" *ngIf="data.is_another_content">
            <div class="paragraph">
                <div class="para-title" [class.capitalize]="data.is_capital_letter == true"
                 [class.italic]="data.is_italic == true"
                  [class.center]="data.is_center == true">{{ data?.title }}</div>
                <div class="para-sub-title" [class.capitalize]="data.is_capital_letter == true"
                 [class.italic]="data.is_italic == true" 
                 [class.center]="data.is_center == true">{{ data?.sub_title }}</div>
                <div class="para-body" [class.capitalize]="data.is_capital_letter == true"
                    [class.italic]="data.is_italic == true" 
                    [class.center]="data.is_center == true">{{ data?.body }}</div>
                <div class="sub-sub-content" *ngFor="let sub of data?.list_sub_content">
                    <div class="sub-sub-title" [class.capitalize]="sub.is_capital_letter == true" 
                    [class.italic]="sub.is_italic == true"
                    [class.bold]="sub.is_bold == true">{{ sub?.name }}</div>
                    <div class="list-content">
                        <div class="list-number">{{ sub?.number }}</div>
                        <div class="list-number-content" [class.capitalize]="sub.is_capital_letter == true" 
                        [class.italic]="sub.is_italic == true"
                        [class.bold]="sub.is_bold == true">{{ sub?.body }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- table -->
        <div class="body" *ngIf="data.is_table">
            <div class="paragraph">
                <div class="para-title">{{ data?.title }}</div>
                <div class="para-sub-title">{{ data?.sub_title }}</div>
                <div class="para-body">{{ data?.body }}</div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th
                                *ngFor="let th of data?.list_table_header;" 
                                    [class.capitalize]="th.is_capital_letter == true" 
                                    [class.italic]="th.is_italic == true"
                                    [class.bold]="th.is_bold == true">{{ th?.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let thh of table[index];">
                                <td *ngFor="let td of thh;" [class.capitalize]="td.is_capital_letter == true" 
                                    [class.italic]="td.is_italic == true"
                                    [class.bold]="td.is_bold == true">
                                    {{ td?.name }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
