<div class="wrapper">
    <div class="back">
        <button mat-icon-button (click)="back()">
            <span class="material-icons-round">clear</span>
        </button>
        <div class="table">Section A: Polytechnic Administration</div>
    </div>

    <div class="chapter">
        <div class="chapter-p">{{ limit('Chapter 01') }}</div>
        <div class="chapter-pp">
            {{ limit('Chapter 0111') }}
            <span class="material-icons-round">arrow_forward</span>
        </div>
    </div>

    <div class="chapter">
        <div class="chapter-pp">
            <span class="material-icons-round">arrow_back</span>
            {{ limit('Chapter 0111') }}
        </div>
    </div>

    <div class="header2">
        <div class="search_icon_p">
            <form class="search-form">
                <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search..." class="input">
            </form>
        </div>
    </div>

    <div class="title">Section A: Polytechnic Administration</div>

    <!-- paragraph -->

    <div class="body">
        <div class="paragraph">
            <div class="para-title">We wish to welcome you to the Federal
            </div>
            <div class="para-sub-title">We wish to welcome you to the</div>
            <div class="para-body">
                We wish to welcome you to the Federal Polytechnic, 
                                Bida. We are aware that for your happiness and success as
                                 students here, you should be well informed about the Polytechnic 
                                 and what the institution expects of you. This handbook serves as 
                                 a guide to assist students in adjusting to college life in the institution.
            </div>
        </div>
        <div class="paragraph">
            <div class="para-title">We wish to welcome you to the Federal
            </div>
            <div class="para-sub-title">We wish to welcome you to the</div>
            <div class="para-body">
                We wish to welcome you to the Federal Polytechnic, 
                                Bida. We are aware that for your happiness and success as
                                 students here, you should be well informed about the Polytechnic 
                                 and what the institution expects of you. This handbook serves as 
                                 a guide to assist students in adjusting to college life in the institution.
            </div>
        </div>
        <div class="paragraph">
            <div class="para-title">We wish to welcome you to the Federal
            </div>
            <div class="para-sub-title">We wish to welcome you to the</div>
            <div class="para-body">
                We wish to welcome you to the Federal Polytechnic, 
                                Bida. We are aware that for your happiness and success as
                                 students here, you should be well informed about the Polytechnic 
                                 and what the institution expects of you. This handbook serves as 
                                 a guide to assist students in adjusting to college life in the institution.
            </div>
        </div>
    </div>

    <!-- list -->

    <div class="body">
        <div class="list">
            <div class="para-title">We wish to welcome you to the Federal
            </div>
            <div class="para-sub-title">We wish to welcome you to the</div>
            <div class="para-body">
                We wish to welcome you to the Federal Polytechnic, 
                                Bida. We are aware that for your happiness and success as
                                 students here, you should be well informed about the Polytechnic 
                                 and what the institution expects of you. This handbook serves as 
                                 a guide to assist students in adjusting to college life in the institution.
            </div>
            <div class="list-content">
                <div class="list-number">1.</div>
                <div class="list-number-content">Bida. We are aware that for your happiness and success as</div>
            </div>
            <div class="list-content">
                <div class="list-number">2.</div>
                <div class="list-number-content">Bida. We are aware that for your happiness and success as</div>
            </div>
            <div class="list-content">
                <div class="list-number">iii.</div>
                <div class="list-number-content">Bida. We are aware that for your happiness and success as</div>
            </div>
            <div class="list-content2">
                <div class="list-number">iii.</div>
                <div class="list-number-content">Bida. We are aware that for your happiness and success as</div>
            </div>
        </div>
    </div>

    <!-- sub content -->

    <div class="body">
        <div class="paragraph">
            <div class="para-title">We wish to welcome you to the Federal
            </div>
            <div class="para-sub-title">We wish to welcome you to the</div>
            <div class="para-body">
                We wish to welcome you to the Federal Polytechnic, 
                                Bida. We are aware that for your happiness and success as
                                 students here, you should be well informed about the Polytechnic 
                                 and what the institution expects of you. This handbook serves as 
                                 a guide to assist students in adjusting to college life in the institution.
            </div>
            <div class="sub-sub-content">
                <div class="sub-sub-title">Encourage its staff to imbibe the culture </div>
                <div class="list-content">
                    <div class="list-number">1.</div>
                    <div class="list-number-content">Bida. We are aware that for your happiness and success as</div>
                </div>
            </div>
        </div>
    </div>

    <!-- sub content -->

    <div class="body">
        <div class="paragraph">
            <div class="para-title">We wish to welcome you to the Federal
            </div>
            <div class="para-sub-title">We wish to welcome you to the</div>
            <div class="para-body">
                We wish to welcome you to the Federal Polytechnic, 
                                Bida. We are aware that for your happiness and success as
                                 students here, you should be well informed about the Polytechnic 
                                 and what the institution expects of you. This handbook serves as 
                                 a guide to assist students in adjusting to college life in the institution.
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
