$white: #ffffff;
$background: #ffffff;

mat-sidenav-container {
  height: 100%;
}

.main {
  background: #F8F4FF;
}

.sidenav {
  width: 250px;
  overflow-x: hidden;
  background: $background;
  opacity: 1;
  color: $white;
}

.button {
  position: fixed;
  display: none;
  bottom: 3.3em;
  right: 1em;
  z-index: 1000;
  text-align: center;
  border-radius: 50%;
  background: #ffffff 10% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 0.2s ease-in-out;
  color: 2c1654;
  margin-right: 10px;
}

.button i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-scrollTop {
  display: block;
  transition: all 0.2s ease-in-out;
}

.fa {
  vertical-align: middle;
}

span.material-icons:before {
  display: none;
}
span.material-icons:before {
  display: none;
}
