/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-icons/iconfont/material-icons.css";
@import "../node_modules/font-awesome/css/font-awesome";
@import "./assets/css/effra.css";
@import "./assets/css/glance.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.warning {
  color: orange;
  background: #2c1654;
}
